.app.confirmation {

  $header-height: 50px;

  .content {
    margin-top: $header-height;

    p {
      font-size: 1.2em;

      strong {
        font-size: 1.3em;
      }

      a {
        color: $color-action;
      }
    }

    .event-summary-background-outer {
      top: $header-height;
    }

  }

}