.app.payment {

  $header-height: 98px;

  .content {
    margin-top: $header-height;

    .form-group.is-focused label, .form-group.is-focused label.control-label {
      color: $color-primary;
    }

    .form-group {
      margin: 1.5em;

      &.inner-select {
        margin: 0;
      }

      label {
        color: $color-primary;
      }
    }

    .notice {
      font-size: 0.8em;
      padding: 2em;

      .mdi {
        font-size: 2.5em;
        float: left;
        margin-right: 0.5em;
      }
    }
  }

}