.app.ticket-selection {

  ul.tickets {
    padding-left: 0;

    li.ticket {
      margin-left: 0;
      margin-right: 0;
    }
  }

  $header-height: 98px;

  .content {
    margin-top: $header-height;

    .mdi-information-outline {
      color: lightgray;
    }

    h3 {
      background-color: $color-secondary;
      color: black;
      padding: .5em 1em;
      font-size: 1em;
    }

    .tickets {

      /**
       * Give all columns in the rows an equal height
       * @src https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
       */
      .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;

        .col-xs-3 {
          width: 24%;
        }
      }
      .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
      }
      /** End equal height */

      .info-box {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        background: $color-secondary;
        color: $color-primary;
        padding: 0 1em;

        h5 {
          font-size: 1.2em;
        }

        &.open {
          max-height: 200px;
          overflow: auto;
          padding: 1em;
        }

        .info-close {
          min-width: 24px;
          float: right;
          border-radius: 50%;
          color: $color-secondary;
          background-color: white;
          height: 24px;
          width: 24px;
          padding: 0;
          font-weight: bold;
          line-height: 24px;
          border: none;
        }
      }

      .ticket {
        padding: 1em 10px;
        border-bottom: 1px solid lightgray;
        list-style: none;
        min-height: 3em;

        .ticket-title {

          padding: 0 0;

          h4 {
            margin-bottom: 0;
            margin-top: 0;
          }

          .info {
            font-size: 0.7em;
            margin-bottom: 0;
          }
        }

        .ticket-amount {

          padding: 0 0;
          text-align: center;
          display:flex;
          justify-content:center;
          align-items: center;
          flex-flow: column;

          .ticket-amount-chosen {
            font-weight: bold;
            margin: 0 0.2em;
          }

          button {
            background: $color-action;
            border-radius: 50%;
            color: white;
            height: 24px;
            width: 24px;
            padding: 0;
            min-width: inherit;
            font-weight: bold;
            line-height: 24px;
          }
        }

        .ticket-cost {
          font-weight: bold;
          text-align: right;
          padding: 0 0;

          .sum {
            font-size: 0.8em;
          }

          .total {
            font-size: 1.2em;
          }
        }
      }
    }

  }

  .coupon {
    padding-left: 1em;
    color: $color-primary;
    width: 100%;

    .form-group {
      font-size: 2em;
      margin-top: 0;

      > .form-control {
        width: calc(100% - 70px);
        float: right;
        margin-right: 2em;
        margin-top: -0.5em;
      }
    }
  }

  .order-total {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5em;

    small {
      font-size: 0.5em;
    }
  }

}