.app {

  .footer {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background: $color-primary;
    color: $color-primary-text;

    .footer-nav {

      width: 100%;

      ul {
        width: 100%;

        li {

          width: percentage(1/3);
          float: left;
          font-size: 0.9em;

          span {
            vertical-align: top;
          }

          .mdi {
            font-size: 1.5em;
          }
        }
      }

    }

    .powered {
      font-size: 0.7em;
      text-align: center;
      padding: 0.4em;
      border-top: lighten($color-primary, 20%) 1px solid;
    }

  }


}