.app {

  .btn, .input-group-btn .btn {
    border-radius: 0;
  }

  .btn.btn-primary, .btn-raised.btn-primary {
    background-color: $color-red-normal;
    color: $color-primary-text;

    &:active, &:focus, &:hover {
      background-color: darken($color-red-light, 10%);

      &:not(.btn-link) {
        background-color: darken($color-red-light, 10%);
      }
    }
  }

}
