.checkout.breadcrumb {

  padding: 0;
  background: none;
  height: 3.4em;
  width: 100%;
  margin-bottom: 0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  li {

    background: $color-secondary;
    padding: 1em 3em 1em 1em;
    height: 100%;
    position: relative;
    display: block;
    float: left;
    width: 25%;
    text-align: center;

    + li {
      padding-left: 2em;
    }

    &:before {
      content: none;
    }

    &:last-of-type {
      &::after {
        content: none;
      }
    }

    .number, .mdi-check {
      color: $color-secondary;
      background: white;
      border-radius: 50%;
      text-align: center;
      width: 1.6em;
      height: 1.6em;
      display: inline-block;
      line-height: 1.8em;
      margin-left: 0.8em;
      margin-right: -1em;
      position: absolute;
      z-index: 2;
    }

    .mdi-check {
      display: none;
    }

    .title {
      display: none;
      font-weight: bold;
      margin-left: 0.5em;
      position: absolute;
      z-index: 2;
    }

    &::after {
      background: $color-secondary;
      content: "";
      height: 40px;
      margin-top: -19px;
      position: absolute;
      right: -1.2em;
      top: 50%;
      width: 40px;
      z-index: 1;
      transform: rotate(45deg);
      border-radius: 0 .4em 0 0;
      //-webkit-box-shadow: 3px -4px 5px -3px rgba(0,0,0,0.5);
      //-moz-box-shadow: 3px -4px 5px -3px rgba(0,0,0,0.5);
      //box-shadow: 3px -4px 5px -3px rgba(0,0,0,0.5);
      box-shadow: 3px -4px 5px .05px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 3px -4px 5px .05px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 3px -4px 5px .05px rgba(0, 0, 0, 0.2);
    }
  }

  li.active {

    background: $color-action;
    color: $color-action-text;
    width: 50%;
    text-align: left;
    padding-left: 3em;

    &:first-of-type {
      padding-left: 1em;
    }

    + li {
      .number {
        margin-left: 0.8em;
      }
    }

    .number {
      color: $color-action;
      background: white;
      margin-left: 0;
      margin-right: 0;
      position: relative;
    }

    .title {
      display: inline;
      margin-top: -14px;
      height: calc(100% + 2px);

      .title-outer {
        height: calc(100% + 2px);
        display: table;

        .title-inner {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &::after {
      background: $color-action;
    }
  }

  li.completed {
    .number {
      display: none;
    }

    .mdi-check {
      display: inline-block;
    }
  }
}