.checkout.breadcrumb {

  padding: 0;
  background: none;
  height: 3.4em;
  width: 100%;
  margin-bottom: 0;

  li {

    background: $color-secondary;
    padding: 1em 3em 1em 1em;
    height: 100%;
    position: relative;
    display: block;
    float: left;
    width: 25%;
    text-align: center;

    + li {
      padding-left: 2em;
    }

    &:before {
      content: none;
    }

    &:last-of-type {
      &::after {
        content: none;
      }
    }

    .number {
      color: $color-secondary;
      background: white;
      border-radius: 50%;
      text-align: center;
      width: 1.6em;
      height: 1.6em;
      display: inline-block;
      line-height: 1.8em;
      margin-left: 1em;
      margin-right: -1em;
      position: absolute;
      z-index: 2;
    }

    .title {
      display: none;
      font-weight: bold;
      margin-left: 0.5em;
      position: absolute;
      z-index: 2;
    }

    &::after {
      background: $color-secondary;
      content: "";
      height: 2.6em;
      margin-top: -1.35em;
      position: absolute;
      right: -1.2em;
      top: 50%;
      width: 2.6em;
      z-index: 1;
      transform: rotate(45deg);
      border-radius: .4em;
      -webkit-box-shadow: 3px -4px 5px -3px rgba(0,0,0,0.5);
      -moz-box-shadow: 3px -4px 5px -3px rgba(0,0,0,0.5);
      box-shadow: 3px -4px 5px -3px rgba(0,0,0,0.5);
    }
  }

  li.active {

    background: $color-action;
    color: $color-action-text;
    width: 50%;
    text-align: left;

    + li {
      .number {
        margin-left: 1em;
      }
    }

    .number {
      color: $color-action;
      background: white;
      margin-left: 0;
      margin-right: 0;
      position: relative;
    }

    .title {
      display: inline;
    }

    &::after {
      background: $color-action;
    }
  }
}