.app {

  .navbar {

    background: transparent;
    margin: 0;

    .container-fluid {
      padding: 0;

      ul.navbar-nav {
        margin: 0;
      }
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }

  }
}