@charset "UTF-8";


// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/mixins';
//'abstracts/functions',

// 2. Vendors
@import
'vendor/bootstrap-material-design/sass/bootstrap-material-design',
'../node_modules/mdi/scss/materialdesignicons',
'../node_modules/flag-icon-css/sass/flag-icon',
'vendor/normalize';

// 3. Base stuff
@import
'base/base';
//'base/fonts',
//'base/typography',
//'base/helpers';
//
//// 4. Layout-related sections
@import
'layout/header',
'layout/content',
'layout/footer';
//
// 5. Components
@import
'components/navbar',
'components/buttons',
'components/eventlist',
'components/hexagon',
'components/nav-chevron',
'components/checkout-breadcrumb',
'components/filters',
'components/text-input',
'components/toggle',
'components/checkbox',
'components/event-summary';
//
// 6. Page-specific styles
@import
'pages/event-overview',
'pages/ticket-selection',
'pages/personal-details';