// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-primary: #0F2A3B;
$color-secondary: #91C7EB;

$color-action: #EEC752;

$color-primary-text: white;
$color-secondary-text: black;

$grid-float-breakpoint: 50px;